#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
}

.error-field {
  border-color: red;
  border-width: 2px;
}

.error-message {
  font-style: italic;
  color: red;
}

.cardType {
  width: 48px;
  height: 48px;
}
